<a href="https://colab.research.google.com/github/edwin-tn/hello-world/blob/master/Chi_sq.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import scipy.stats
from scipy.stats import chi2

In [ ]:
data=pd.read_csv("/content/drive/MyDrive/Datasets/aug_test.csv")
data[:5]

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours
0,32403,city_41,0.827,Male,Has relevent experience,Full time course,Graduate,STEM,9,<10,NaN,1,21
1,9858,city_103,0.920,Female,Has relevent experience,no_enrollment,Graduate,STEM,5,NaN,Pvt Ltd,1,98
2,31806,city_21,0.624,Male,No relevent experience,no_enrollment,High School,NaN,<1,NaN,Pvt Ltd,never,15
3,27385,city_13,0.827,Male,Has relevent experience,no_enrollment,Masters,STEM,11,10/49,Pvt Ltd,1,39
4,27724,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,10000+,Pvt Ltd,>4,72

In [ ]:
data.shape

(2129, 13)

# Goodness of Fit

In [ ]:
ct_table=pd.crosstab(data["gender"],data["relevent_experience"])
print('contingency_table :\n',ct_table)

contingency_table :
 relevent_experience  Has relevent experience  No relevent experience
gender
Female                                    92                      45
Male                                    1110                     350
Other                                     13                      11

In [ ]:
Observed_Values = ct_table.values 
print("Observed Values :\n",Observed_Values)

Observed Values :
 [[  92   45]
 [1110  350]
 [  13   11]]

In [ ]:
b=scipy.stats.chi2_contingency(ct_table)
Expected_Values = b[3]
print("Expected Values :\n",Expected_Values)

Expected Values :
 [[ 102.6866132    34.3133868 ]
 [1094.32449105  365.67550895]
 [  17.98889574    6.01110426]]

In [ ]:
no_of_rows=len(ct_table.iloc[0:3,0])
no_of_columns=len(ct_table.iloc[0,0:2])
df=(no_of_rows-1)*(no_of_columns-1)
print("Degree of Freedom:",df)

Degree of Freedom: 2

In [ ]:
chi_square=sum([(o-e)**2./e for o,e in zip(Observed_Values,Expected_Values)])
chi_square_statistic=chi_square[0]+chi_square[1]
print("chi-square statistic:",chi_square_statistic)

chi-square statistic: 10.86101811694569

In [ ]:
crit =chi2.ppf(q = 0.95, 
                      df = 2)   

print("Critical value:",crit)
p_value = 1 - chi2.cdf(x=chi_square_statistic,  
                             df=2)
print("P value:",p_value)

Critical value: 5.991464547107979
P value: 0.004380865118435717

Since our chi-squared statistic exceeds the critical value, we'd reject the null hypothesis that the two distributions are the same.

## The above process could be done with a single line of code

In [ ]:
chi2, p, dof, expected = scipy.stats.chi2_contingency(ct_table)

print(f"chi2 statistic:     {chi2:.5g}")
print(f"p-value:            {p:.5g}")
print(f"degrees of freedom: {dof}")
print("expected frequencies:\n",expected)

chi2 statistic:     10.861
p-value:            0.0043809
degrees of freedom: 2
expected frequencies:
 [[ 102.6866132    34.3133868 ]
 [1094.32449105  365.67550895]
 [  17.98889574    6.01110426]]

# Test for independence

In [ ]:
ct_table_ind=pd.crosstab(data["education_level"],data["major_discipline"])
print('contingency_table :\n',ct_table_ind)

contingency_table :
 major_discipline  Arts  Business Degree  Humanities  No Major  Other  STEM
education_level
Graduate            15               23          52        20     34  1124
Masters              1               12          23         2      6   451
Phd                  1                2           5         0      0    46

In [ ]:
chi2_stat, p, dof, expected = scipy.stats.chi2_contingency(ct_table_ind)

print(f"chi2 statistic:     {chi2_stat:.5g}")
print(f"p-value:            {p:.5g}")
print(f"degrees of freedom: {dof}")
print("expected frequencies:\n",expected)

chi2 statistic:     18.576
p-value:            0.045994
degrees of freedom: 10
expected frequencies:
 [[1.18635113e+01 2.58205834e+01 5.58282884e+01 1.53527793e+01
  2.79141442e+01 1.13122069e+03]
 [4.63126032e+00 1.00798019e+01 2.17941662e+01 5.99339571e+00
  1.08970831e+01 4.41604293e+02]
 [5.05228398e-01 1.09961475e+00 2.37754540e+00 6.53824986e-01
  1.18877270e+00 4.81750138e+01]]

Critical value for df=10,alpha=0.05 is 18.33

Since our chi-squared statistic exceeds the critical value, we'd reject the null hypothesis that the two distributions are the same.